* {
    font-family: Arial;
}

body {
    background-color: #000000;
}

p {
    color: #FFFFFF;
}

center {
    display: block;
    text-align: -webkit-center;
}

article {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 95%;
}

#name_input {
    outline:none;
    box-shadow:none;
    text-align: center;
    font-size: 24px;
    display: block;
    margin: 10px;
    padding: 5px 30px;
    width: 350px;
    background-color: #EEEEEE;
    color: #444444;
}

#main_title {
    margin-bottom: 30px;
    color: #FFFF00;
    font-size: 70px;
    text-shadow: 1px 1px 2px #FFFF00, 0 0 1em #FFFF00, 0 0 0.2em #FFFF00;
}

#play_btn {
    outline:none;
    width: 100px;
    font-size: 24px;
    background-color: #FFFF00;
    box-shadow: 1px 1px 2px #FFFF00, 0 0 1em #FFFF00, 0 0 0.2em #FFFF00;
    border: 0px;
    color: #000000;
    font-weight: bold;
}

#ctx {
}

#aside {
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
}

table tr th td {
    padding: 5px;
    color: #BBBBBB;
}

.table-hover>tbody>tr:hover {
    background-color: #222222;
}

#chat {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 300px;
}

#chat_input {
    width: 100%;
}

#chat_text {
    max-height: 150px;
    overflow-y: scroll;
    word-wrap: break-word;
}

#log_answer {
    color: #FF0000;
}

#reg_button, #log_button, #logout_button, #all_maps_button, #map_creator_button, #change_current_map_button {
    display: none;
}

#username_span {
    font-weight: bold;
    display: inline-block;
    color: #FFFFFF;
}

#maps_list {
    color: #EEEEEE;
}